.product_cards {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 36px;
    /* border: 1px solid red; */
    margin: 20px 0;
    justify-content: center;
    
}

.product_catogoriya {
    margin-top: 20px;
    text-align: center;
}

.product_card {
    width: 326px;
    height: 531px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product_card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pruduct_img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.product_card p,
.product_card span {
    padding: 3px 5px;
}

.product_card img {
    width: 326px;
    height: 350px;
    border-radius: 10px;
    transform: .5s;
}

.product_card img:hover {
    transform: scale(1.05);
    border-radius: 0;
}

.product_narxi {
    color: #7F4dFF;
    font-size: 18px;
    font-weight: bold
}

.product_eski_narxi {
    color: #7E818C;
    font-size: 14px;
      text-decoration: line-through;

}

.pruduct_bolib_tolash {
    background-color: #FFFF00;
    border-radius: 10px;
}

.product_cards button {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #7000FF;
    color: #FFFFFF;
    padding: 9px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.pruduct_bolib_tolash,
.product_nomi,
.product_reyting {
    color: #1F2026;
}

@media (max-width:1075px){
    .product_card {
    width: 280px;
    height: 531px;
}
.product_card img {
    width: 280px;
    height: 350px;
}
}
@media (max-width:937px){
    .product_card {
    width: 250px;
    height:500px;
    /* border: 1px solid black; */
}
.pruduct_img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    /* border: 1px solid red; */
}
.product_card img {
    width: 250px;
    height: 320px;
}
}

@media (max-width:570px){
    .product_card {
    width: 220px;
    height:450px;
    /* border: 1px solid black; */
}
.pruduct_img {
    width: 100%;
    height: 290px;
    overflow: hidden;
    /* border: 1px solid red; */
}
.product_card img {
    width: 220px;
    height: 320px;
}
}
@media (max-width:500px){
    .product_cards {
    gap: 10px;
    
}

    .product_card {
    width: 155px;
    height:370px;
    /* border: 1px solid black; */
}
.pruduct_img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    /* border: 1px solid red; */
}
.product_card img {
    width: 155px;
    height: 230px;
    /* border: 1px solid black; */
}
.product_card p,
.product_card span {
    /* border: 1px solid orange; */
    font-size: 11px;
}
}